
verfication/bt/iic_inf/sim/compile.log
*.fsdb
verfication/bt/iic_inf/sim/work/_vmake
verfication/bt/iic_inf/sim/work/_lib1_0.qtl
*.qpg
*.qdb
verfication/bt/iic_inf/sim/work/_info
verfication/bt/iic_inf/sim/tr_db.log
verfication/bt/iic_inf/sim/run.bat_
verfication/bt/iic_inf/sim/run.bat_
